---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '@/components/HeroContainer.astro';
import { getI18N } from '@/i18n/index';
import Button from '../Button';

const { currentLocale } = Astro;
const i18n = getI18N({currentLocale});
---

<Layout
  title=`${i18n.SEO.SERVICIO_TITLE}&nbsp;${new Date().getFullYear()}` description={i18n.SEO.SERVICIO_DESCRIPTION}>
  <HeroContainer>
    <h2 class="text-4xl font-semibold text-balance mb-4 text-center text-white">{i18n.INFO_TITLE}</h2>
            <p class="text-white text-base md:text-lg max-w-xl text-center">
                {i18n.INFO_SUBTITLE}
            </p>
            <Button className="animate-fade-up lg:text-2xl md:px-5 md:text-xl text-xs w-fit font-medium no-underline px-3 py-3 border border-solid border-white rounded-full uppercase _button_10p5w_1 md:py-2 md:text-base lg:text-base text-white" url="https://wa.me/+51908915072">{i18n.INFO_BUTTON_CONTACT}
            </Button>
  </HeroContainer>
  <main class="pb-24">
    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_1}
        </h1> 
        <p>{i18n.INFO_CONTENT_1_1}</p>
        <p>{i18n.INFO_CONTENT_1_2}</p>
        <button id="theater" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/tspfacpro.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/LogoChef.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_2}
        </h1>
        <p>{i18n.INFO_CONTENT_2_1}</p>
        <p>{i18n.INFO_CONTENT_2_2}</p>
        <button id="trophies" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_3}
        </h1>
        <p>{i18n.INFO_CONTENT_3_1}</p>
        <p>{i18n.INFO_CONTENT_3_2}</p>
        <button id="theater" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/ParkingLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/PaginaWebLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_4}
        </h1>
        <p>{i18n.INFO_CONTENT_4_1}</p>
        <p>{i18n.INFO_CONTENT_4_2}</p>
        <button id="trophies" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_5}
        </h1>
        <p>{i18n.INFO_CONTENT_5_1}</p>
        <p>{i18n.INFO_CONTENT_5_2}</p>
        <button id="theater" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/TiendaVirtualLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/LandingPage.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_6}
        </h1>
        <p>{i18n.INFO_CONTENT_6_1}</p>
        <p>{i18n.INFO_CONTENT_6_2}</p>
        <button id="trophies" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_7}
        </h1>
        <p>{i18n.INFO_CONTENT_7_1}</p>
        <p>{i18n.INFO_CONTENT_7_2}</p>
        <button id="theater" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/DominioLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img
          class="rounded-md"
          height={300}
          src="/images/Equipo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
          }}
          width={300}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_8}
        </h1>
        <p>{i18n.INFO_CONTENT_8_1}</p>
        <p>{i18n.INFO_CONTENT_8_2}</p>
        <button id="trophies" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide">
          {i18n.INFO_TITLE_9}
        </h1>
        <p>{i18n.INFO_CONTENT_9_1}</p>
        <p>{i18n.INFO_CONTENT_9_2}</p>
        <button id="theater" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">{i18n.INFO_BUTTON_INFORMATION}</button>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2 flex justify-center items-center">
        <img 
          class="rounded-md" 
          height={300} 
          src="/images/MarketingDigitalLogo.png"
          style={{
            aspectRatio: "300/300",
            objectFit: "cover",
        }}
        width={300}/>
      </div>
    </section>
  </main>
</Layout>

<style>
  #theater,
  #trophies-text h1,
  #trophies-text p {
    animation: cover-animation linear both;
    animation-timeline: view();
  }
  #theater-text h1,
  #theater-text p,
  #trophies {
    animation: entry-animation linear both;
    animation-timeline: view();
  }
  #theater {
    animation-range: entry 10% cover 40%;
  }
  #theater-text h1 {
    animation-range: entry 10% cover 30%;
  }
  #theater-text p {
    animation-range: entry 10% cover 20%;
  }
  #trophies {
    animation-range: entry 30% cover 50%;
  }
  #trophies-text h1 {
    animation-range: entry 30% cover 40%;
  }
  #trophies-text p {
    animation-range: entry 20% cover 30%;
  }
  @keyframes entry-animation {
    0% {
      opacity: 0;
      translate: var(--entry-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
  @keyframes cover-animation {
    0% {
      opacity: 0;
      translate: var(--cover-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>