---
import BentoItem from "./BentoItem.astro";
import { getI18N } from '../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto mt-24 mb-0">
    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-0 tracking-wide">
        {i18n.BENTO_TITLE}
    </h1>
</section>
<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[25rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20
  `}
>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_1}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/tspfacpro.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_1}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_2}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/LogoChef2.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_2}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_3}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/ParkingLogo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_3}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_4}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/PaginaWebLogo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_4}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_5}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/TiendaVirtualLogo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_5}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_6}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/LandingPage.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_6}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_7}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/DominioLogo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_7}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_8}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/Equipo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_8}
        </p>
    </BentoItem>
    <BentoItem class="col-span-3 md:col-span-3" title={i18n.BENTO_TITLE_9}>
        <div 
            slot="image" 
            class="absolute left-0 top-0 bottom-0 w-full
                h-full group-hover:scale-110 transition-scale duration-1000
                ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover 
                bg-no-repeat -z-10"
            style="background-image: url(/images/MarketingDigitalLogo.png);">
        </div>
        <p slot="content" class="max-w-xl">
            {i18n.BENTO_CONTENT_9}
        </p>
    </BentoItem>
</section>